.btn_dark {
    border-color: #000;
    color: #000
}

.btn_dark:focus,
.btn_dark:hover {
    background-color: rgba(0, 0, 0, .06)
}

.btn_dark:active {
    background-color: #000;
    color: #fff
}


.services {
    background: #f9f9f9;
    /* margin-top: 145px;
    padding-bottom: 120px */
    padding-top: 6.25rem;
}

.services__inner {
    display: flex;
    flex-direction: column
}

.services__breadcrumbs {
    margin-bottom: 20px
}

.services__title {
    margin-bottom: 65px
}

.services__filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px
}

.services__laser {
    display: flex;
    gap: 20px;
    margin-bottom: 37px
}

.services__laser-item {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #9d9d9d;
    transition: .2s all ease-in;
    cursor: pointer
}

.services__laser-item:hover {
    color: #1a1b1f
}

.services__laser-item_active {
    color: #e24592
}

.services__laser-item_active:hover {
    color: #d01562
}

.services__zones {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.services__zones-header {
    font-size: 16px;
    line-height: 125%;
    color: #000
}

.services__tags {
    display: flex;
    gap: 18px;
    flex-wrap: wrap
}

.services__zones-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.services__sort {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
    transition: .3s all ease-in;
    position: relative
}

.services__sort:hover::before {
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    height: 20px;
    top: 100%
}

.services__sort:hover .services__sort-options {
    display: flex
}

.services__sort::after {
    content: '';
    display: block;
    background: url(../img/icons/ic_sort.svg) no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px
}

.services__sort-options {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 270px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #000;
    gap: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .1);
    background: #fff;
    z-index: 2;
    overflow: hidden;
    right: 0;
    top: calc(100% + 20px)
}

.services__sort-option {
    padding: 10px 20px 10px 30px;
    width: 100%;
    transition: .3s all ease-in
}

.services__sort-option:hover,
.services__sort-option_selected {
    background: #000;
    color: #fff
}

.services__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 25px;
    margin-bottom: 63px
}

.services__item {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: calc(25% - 19px);
    transition: .2s all ease-in;
    
}



.slick-services__item {
    margin-right: 10px;
    margin-left: 10px;
}

.slick-list {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.services__item.hide {
    display: none
}

.services__item:hover {
    filter: drop-shadow(0 4px 40px rgba(0, 0, 0, .1))
}
.slick-services__item:hover {
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, .1));
}
.services__item-link {
    background-color: #fff
}

.services__item-info {
    height: 250px;
    padding: 26px 20px 32px 30px;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services__item-img {
    width: 100%;
    height: auto
}

.services__item-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px
}

.services__item-description {
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0
}

.services__item-time {
    font-size: 14px;
    line-height: 143%;
    font-weight: 300;
    margin-bottom: 37.5px
}

.services__orderBtn {
    width: -moz-fit-content;
    width: fit-content
}

.services__item-price {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 22px
}

.services__item-price.hide {
    display: none
}

.services__item-price::after {
    content: ' ₽'
}

.services__item-desc {
    font-size: 16px;
    font-weight: 300
}

.services__pagination {
    margin-bottom: 100px;
    align-self: flex-end
}

.services__info-text {
    font-size: 16px;
    line-height: 125%;
    font-weight: 300
}


.breadcrumbs {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    display: inline-block
}

.breadcrumbs__item {
    display: inline;
    align-items: center;
    color: #000
}

.breadcrumbs__item:last-child {
    color: #9d9d9d;
    pointer-events: none
}

.breadcrumbs__item:not(:last-child)::after {
    margin-left: 15px;
    display: inline-block;
    background: url(../img/icons/ic_breadcrumbs_arrow.svg) no-repeat;
    content: '';
    margin-right: 15px;
    width: 5px;
    height: 8px
}
.license {
    padding-top: 165px;
    padding-bottom: 250px;
    color: #fff;
    background: #1a1b1f
}

.license__inner {
    display: flex;
    flex-direction: column
}

.license__breadcrumbs {
    margin-bottom: 19px
}

.license__breadcrumbs .breadcrumbs__item {
    color: #fff
}

.license__breadcrumbs .breadcrumbs__item::after {
    filter: invert(100%)
}

.license__breadcrumbs .breadcrumbs__item:last-child {
    color: #9d9d9d
}


@media screen and (max-width:1600px) {
    .services {
        /* margin-top: 95px;
        padding-top: 16px */
    }
}

@media screen and (max-width:1380px) {
    .services {
        padding-bottom: 100px
    }

    .services__title {
        margin-bottom: 55px
    }

    .services__breadcrumbs {
        margin-bottom: 11px
    }

    .services__laser {
        gap: 27px
    }

    .services__tags {
        gap: 22px
    }

    .services__filter {
        margin-bottom: 45px
    }

    .services__container {
        row-gap: 40px;
        column-gap: 30px;
        margin-bottom: 53px
    }

    .services__item-info {
        padding-top: 11px;
        padding-left: 17px;
  
        
    }

    .services__item {
        flex-basis: calc(25% - 31.5px)
    }

    .services__item-title {
        font-size: 16px;
        line-height: 150%
    }

    .services__item-time {
        margin-bottom: 29px
    }

    .services__item-img {
        max-height: 149px;
        object-fit: cover
    }

    .services__item-price {
        font-size: 18px;
        line-height: 143%
    }

    .services__zones-body {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px
    }

    .services__sort {
        align-self: flex-end
    }

    .services__pagination {
        margin-bottom: 120px
    }
}

@media screen and (max-width:1325px) {
    .services__item {
        flex-basis: calc(32% - 10px)
    }

    .services__orderBtn {
        padding: 16px 52px
    }
}

@media screen and (max-width:1024px) {
    .services {
        padding-bottom: 75px
    }

    .services__breadcrumbs {
        margin-bottom: 18px
    }

    .services__filter {
        margin-bottom: 54px
    }

    .services__zones {
        gap: 18px
    }

    .services__zones-body {
        gap: 31px
    }

    .services__title {
        font-size: 30px;
        margin-bottom: 40px
    }

    .services__tags {
        column-gap: 28px;
        row-gap: 16px
    }

    .services__item-title {
        margin-bottom: 7px
    }

    .services__sort {
        font-size: 14px;
        line-height: 114%
    }

    .services__item-price {
        margin-bottom: 26px
    }

    .services__container {
        margin-bottom: 35px
    }

    .services__pagination {
        margin-bottom: 77px
    }

    .services__info-text {
        font-size: 14px
    }
}

@media screen and (max-width:850px) {
    .services__item {
        flex-basis: calc(50% - 20px)
    }
}

@media screen and (max-width:768px) {
    .services__tags {
        column-gap: 10px
    }

    .services__zones-body {
        gap: 38px
    }

    .services__container {
        margin-bottom: 41px
    }

    .services__pagination {
        margin-bottom: 100px
    }
}

@media screen and (max-width:640px) {
    .services {
        padding-top: 7px;
        margin-top: 60px
    }

    .services__breadcrumbs {
        margin-bottom: 12px
    }

    .services__title {
        margin-bottom: 25px;
        font-size: 24px
    }

    .services__tags {
        row-gap: 13px;
        column-gap: 18px
    }

    .services__laser-item {
        font-size: 14px;
        line-height: 114%
    }

    .services__container {
        justify-content: center;
        row-gap: 25px
    }

    .services__item {
        flex-basis: 100%;
        max-width: 350px
    }

    .services__sort {
        align-self: flex-start
    }

    .services__sort-options {
        right: unset;
        left: 0
    }

    .services__zones-body {
        gap: 45px
    }

    .services__filter {
        margin-bottom: 20px
    }

    .services__item-img {
        max-height: 134px
    }

    .services__orderBtn {
        padding: 12px 32px
    }

    .services__pagination {
        margin-bottom: 66px
    }

    .services__info-text {
        line-height: 143%
    }
}

.review__head {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 26px
}

.review__photo {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-size: cover
}

.review__price {
    font-size: 18px;
    line-height: 133%
}

.review__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 125%
}

.services_single {
    margin-top: 145px;
    padding-top: 20px;
    padding-bottom: 120px;
    background: #fff
}

.services_single__inner {
    display: flex;
    flex-direction: column
}

.services_single__breadcrumbs {
    margin-bottom: 17px
}

.services_single__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 38px
}

.services_single__info {
    display: flex;
    gap: 10px;
    justify-content: space-between
}

.services_single__text {
    font-weight: 300;
    max-width: 944px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.services_single__time {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px
}

.services_single__price {
    margin-bottom: 38px
}

.services_single__price p {
    font-size: 20px;
    line-height: 150%
}

.services_single__price-amount {
    font-size: 20px;
    line-height: 120%;
    font-weight: 500
}

.services_single__price-amount::after {
    content: ' ₽';
    display: inline
}

.services_single__desc {
    max-width: 800px;
    font-size: 16px;
    line-height: 125%
}

.services_single__desc ol,
.services_single__desc p,
.services_single__desc ul {
    margin-bottom: 30px
}

.services_single__orderBtn {
    font-weight: 500;
    margin-bottom: 70px
}

.services_single__info-text {
    font-size: 14px;
    line-height: 143%;
    font-weight: 300
}

.services_single__info-img {
    max-height: 338px;
    width: 100%;
    height: auto;
    object-fit: cover
}
@media screen and (max-width:1600px) {
    .services_single {
        margin-top: 95px
    }

    .reviews_outside__slider {
        margin-right: -65px
    }
}

@media screen and (max-width:1380px) {
    .services_single {
        padding-top: 15px;
        padding-bottom: 87px
    }

    .services_single__breadcrumbs {
        margin-bottom: 11px
    }

    .services_single__title {
        margin-bottom: 52px
    }

    .services_single__time {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 10px
    }

    .services_single__text {
        padding-top: 10px;
        max-width: 700px
    }

    .services_single__price {
        font-size: 16px;
        line-height: 125%;
        gap: 16px;
        margin-bottom: 35px
    }

    .services_single__price-amount {
        font-size: 16px;
        line-height: 150%
    }

    .services_single__desc {
        font-size: 16px;
        line-height: 125%
    }

    .services_single__orderBtn {
        margin-bottom: 87px
    }

    .services_single__info-img {
        max-height: 270px;
        width: auto
    }

    .specialists_outside__slider {
        margin: 0 -11px
    }

    .specialists_outside__item {
        margin: 0 11px;
        color: #1a1b1f
    }

    .specialists_outside__item-img {
        margin-bottom: 52px
    }

    .specialists_outside__item-title {
        font-size: 16px;
        line-height: 19.5px;
        margin-bottom: 12px
    }

    .specialists_outside__item-job {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 22px
    }

    .reviews_outside {
        padding-top: 20px
    }

    .reviews_outside__head {
        margin-bottom: 50px
    }

    .reviews_outside__slider {
        margin: 0 -25px;
        margin-right: -55px
    }

    .reviews_outside__item {
        margin: 0 25px
    }

    .review__head {
        gap: 40px;
        margin-bottom: 32px
    }

    .review__title {
        font-size: 16px;
        line-height: 24px
    }

    .review__photo {
        width: 88px;
        height: 88px
    }

    .review__text {
        font-size: 14px;
        line-height: 20px
    }

    .faq {
        padding-top: 117px;
        padding-bottom: 100px
    }

    .faq__img {
        max-height: 496px
    }

    .faq__title {
        margin-bottom: 90px
    }

    .faq__list {
        max-width: 745px;
        padding-top: 0
    }

    .faq__item-title {
        font-size: 16px;
        line-height: 120%
    }

    .faq__text {
        font-size: 14px;
        line-height: 143%
    }
}

@media screen and (max-width:1240px) {
    .services_single__info {
        flex-direction: column-reverse;
        gap: 37px
    }

    .services_single__info-img {
        max-width: 583px;
        width: 100%;
        max-height: unset
    }
}

@media screen and (max-width:1024px) {
    .services_single {
        padding-bottom: 40px
    }

    .services_single__breadcrumbs {
        margin-bottom: 21px
    }

    .services_single__title {
        font-size: 30px;
        margin-bottom: 36px
    }

    .services_single__text {
        padding-top: 0;
        max-width: unset
    }

    .services_single__desc {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 45px
    }

    .services_single__price {
        margin-bottom: 33px
    }

    .specialists_outside {
        padding-top: 85px;
        padding-bottom: 134px
    }

    .specialists_outside__item-img {
        margin-bottom: 20px
    }

    .reviews_outside__head {
        margin-bottom: 72px
    }

    .reviews_outside__slider {
        margin-right: -35px
    }

    .review__photo {
        width: 68px;
        height: 68px
    }

    .review__head {
        margin-bottom: 20px;
        gap: 16px
    }

    .faq {
        padding-top: 50px;
        padding-bottom: 40px
    }

    .faq__title {
        margin-bottom: 75px
    }

    .faq__list {
        max-width: unset
    }

    .faq__text {
        padding-top: 17px;
        padding-left: 31px
    }

    .faq__img {
        display: none
    }
}

@media screen and (max-width:768px) {
    .services_single__breadcrumbs {
        margin-bottom: 12px
    }

    .services_single__title {
        margin-bottom: 45px
    }

    .services_single__info-img {
        max-width: 511px
    }

    .services_single__info {
        gap: 44px
    }

    .services_single__price {
        margin-bottom: 29px
    }

    .services_single__orderBtn {
        margin-bottom: 79px
    }

    .specialists_outside {
        padding-bottom: 56px
    }

    .specialists_outside__item-img {
        margin-bottom: 15px
    }

    .reviews_outside__slider {
        margin-right: -20px
    }

    .faq__item-title {
        font-size: 14px;
        line-height: 120%
    }

    .faq__text {
        padding-left: 19px
    }

    .review__head {
        gap: 19px;
        margin-bottom: 15px
    }
}

@media screen and (max-width:640px) {
    .services_single {
        margin-top: 60px;
        padding-top: 10px
    }

    .services_single__breadcrumbs {
        margin-bottom: 10px
    }

    .services_single__title {
        margin-bottom: 25px;
        font-size: 24px
    }

    .services_single__text {
        font-size: 14px
    }

    .services_single__time {
        font-size: 14px;
        line-height: 20px
    }

    .services_single__price {
        font-size: 14px;
        line-height: 20px
    }

    .services_single__info {
        gap: 32px
    }

    .services_single__price-amount {
        font-size: 14px;
        line-height: 18px
    }

    .services_single__desc {
        margin-bottom: 38px
    }

    .services_single__orderBtn {
        margin-bottom: 100px
    }

    .specialists_outside {
        padding-top: 75px
    }

    .specialists_outside__head {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        margin-bottom: 20px
    }

    .specialists_outside_arrows {
        align-self: flex-end
    }

    .specialists_outside__item-title {
        margin-bottom: 8px
    }

    .specialists_outside__item-job {
        margin-bottom: 25px
    }

    .reviews_outside {
        padding-top: 62px;
        padding-bottom: 10px
    }

    .reviews_outside__head {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        margin-bottom: 20px
    }

    .reviews_outside_arrows {
        align-self: flex-end
    }

    .review__photo {
        width: 48px;
        height: 48px
    }

    .review__head {
        gap: 18px;
        margin-bottom: 13px
    }

    .review__title {
        font-weight: 300;
        font-size: 14px
    }

    .faq {
        padding-top: 22px
    }

    .faq__title {
        margin-bottom: 27px
    }

    .faq__text {
        padding-left: 0;
        padding-top: 12px
    }
}

